{% extends "base.html" %}
{% load static %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'projects/css/projet_create.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

</head>
<h2>Modifier un Projet</h2>

<form method="POST">
    {% csrf_token %}

    <!-- Champ du nom du projet -->
    <div class="form-group">
        <label for="id_nom">Nom du Projet :</label>
        {{ form.nom }}
    </div>

    <!-- Champ de description -->
    <div class="form-group">
        <label for="id_description">Description :</label>
        {{ form.description }}
    </div>

    <!-- Champ de la date de fin -->
    <div class="form-group">
        <label for="id_date_fin">Date de Fin :</label>
        {{ form.date_fin }}
    </div>

    <!-- Sélection de l'état du projet -->
    <div class="form-group">
        <label for="id_etat">État :</label>
        {{ form.etat }}
    </div>

    <!-- Sélection des membres avec checkboxes -->
    <div class="form-group">
        <label>Membres :</label>
        <div class="checkbox-group">
            {{ form.membres }}
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Enregister</button>
    <a href="{% url 'projet_list' %}" class="btn btn-secondary">Retour</a>
</form>
{% endblock %}
